<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet"
		th:href="@{css/bootstrap.min.css}" />
	<title>ProductList</title>
</head>
<body>
	<div class="container">
		<div class="col-md-4">
			<h1>All Wines</h1>
		</div>
		<div class="col-md-4" style="padding:20px 0">
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
			</form>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Type</th>
					<th>Country</th>
					<th>Year</th>
					<th>Manufacturer</th>
				</tr>
			</thead>
			<tbody>
			
			<tr th:each="product : ${products}">
					<td th:text="${product.getName()}"></td>
					<td th:text="${product.getType()}"></td>
					<td th:text="${product.getCountry()}"></td>
					<td th:text="${product.getProductionYear()}"></td>
					<td th:text="${product.manufacturer.getName()}"></td>
					<td><a th:href="@{/deleteproduct/{id}(id=${product.id})}"
						class="btn btn-danger">Delete</a></td>
					<td><a th:href="@{/edit/{id}(id=${product.id})}">Edit</a></td>
				</tr>
					
				
			</tbody>
		</table>
		<a href="/add">Add a product</a>
		-
		<a href="/manufacturerlist">Manufacturers</a>
	</div>
</body>
</html>