<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    	<link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
<title>Add new user</title>
</head>
<body>
	<h1>Registration</h1>
  
		<form th:object="${newuser}" th:action="@{/admin/saveuser}" action="#" method="post">
			<div>
				<label>Username: <input type="text" th:field="*{username}" /></label>
				<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</p>	
			</div>
			<div>
				<label> Password: <input type="password" th:field="*{password}" /></label>
				<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>	
			</div>
			<div>
				<label> Re-type Password: <input type="password" th:field="*{passwordCheck}" /></label>
				<p th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}">Password Match Error</p>	
			</div>
			
			<input type="submit" value="Save"></input>		
		</form>
<br>
     <a href="/index">Palaa pääsivulle</a>
</body>
</html>